<mat-toolbar color="accent">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>REGSITER PAGE</span>
  <span class="example-spacer"></span>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>favorite</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<div
  class="uk-section uk-section-muted uk-flex uk-flex-middle uk-animation-fade"
  uk-height-viewport
>
  <div class="uk-width-1-1">
    <div class="uk-container">
      <div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid>
        <div class="uk-width-1-1@m">
          <div
            class="uk-margin uk-width-large uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large"
          >
            <h3 class="uk-card-title uk-text-center">Join with us bellow!</h3>
            <form>
              <div class="uk-margin">
                <div class="uk-inline uk-width-1-1">
                  <span class="uk-form-icon" uk-icon="icon: mail"></span>
                  <label>Name</label>
                  <input class="uk-input uk-form-large" type="text" />
                </div>
              </div>
              <div class="uk-margin">
                <div class="uk-inline uk-width-1-1">
                  <span class="uk-form-icon" uk-icon="icon: mail"></span>
                  <label>Email</label>
                  <input class="uk-input uk-form-large" type="email" />
                </div>
              </div>
              <div class="uk-margin">
                <div class="uk-inline uk-width-1-1">
                  <span class="uk-form-icon" uk-icon="icon: lock"></span>
                  <label>Password</label>
                  <input class="uk-input uk-form-large" type="password" />
                </div>
              </div>
              <div class="uk-margin">
                <div class="uk-inline uk-width-1-1">
                  <span class="uk-form-icon" uk-icon="icon: lock"></span>
                  <label>Confirm Password</label>
                  <input class="uk-input uk-form-large" type="password" />
                </div>
              </div>
              <div class="uk-margin">
                <button
                  class="uk-button uk-button-primary uk-button-large uk-width-1-1"
                  routerLink="/register"
                >
                  Register
                </button>
              </div>
              <div class="uk-text-small uk-text-center">
                registered? <a routerLink="/login">Login</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
